%h1#haml-time HAML Time

%ul
  %li
    %a.banana#ripe the atag with .banana#ripe

%nav
  %ul
    %li
      %a{href: "/quiz"} Nav with Ul, LI, aTag to Quiz

%section
  %article.one Section with Article.one

%table
  %thead
    %tr.first Stuff
    %td hearts
    %td moons
    %td stars

%form
  %input{:type => "checkbox"}
  %label{:for => "fave_cereal"}

%select#fave_cereal
  %option Fruit Loops
  %option Cheerios
  %option Apple Jacks
  %option Lucky Charms
  %option Raisin Bran

%footer








