%h1#haml-time HAML Time
%ul
  %li
    %a.banana#ripe  Banana Ripe

%nav
  %ul
    %li
      %a{href: "/quiz"} Quiz

%section
  %article.one

%table
  %thead
    %tr.first
      %td hearts
      %td moons
      %td stars

/ %form
/   %label{:for => "fave_cereal"} Fave Cereal
/   %input{:type=>"checkbox"}
/   %input#fave_cereal{:type=>"select"}

= form_tag do
  = check_box_tag "fave"
  = label_tag "fave_cereal"
  = select_tag "fave_cereal"


%footer Footer
