%h1#haml-time
  HAML Time

%nav
  %ul
    %li
      %a.banana#ripe{href:'/quiz'}
        Sorting Quiz

%section
  %article.one

%table
  %thead
    %tr.first
      hearts moons stars

%form
  %input{type:"checkbox", name:"yes", value:1}
  yes
  %input{type:"checkbox", name:"no", value:2}
  no
  %br
  %br
  %label{for: "fave_cereal"}
    Fave Cereal
  %input#fave_cereal{type:"select"}
    %option
      cookie crisp
    %option
      lucky charms
    %option
      honey nut cheerios
    %option
      raisin brand

%footer

