%h1#haml-time HAML Time

%ul
  %li
    %a.banana#ripe

%nav
  %ul
    %li
      %a{href: '/quiz'}

%section
  %article.one

%table
  %thead
    %tr.first hearts moons stars

%form
  %input{type: 'checkbox'}

%label{for: 'fave_cereal'}

%input#fave_cereal{type: 'select'}
