%h1#haml-time HAML Time
%nav
  %ul
    %li
      %a.banana#ripe
    %li
      %a{href: '/quiz'} Quizes
%section
  %article.one
%table
  hearts moons stars
  %thead
    %tr.first
    %tr
    %tr
%form
  %input{type: 'checkbox'}
  %label{for: 'fave_cereal'}
  %input#fave_cereal{type: 'select'}
%footer
