%nav
  %ul
    %li
      %a{href: '/quiz'} Quiz

%h1#haml-time HAML Time
%ul
  %li
    %a.banana#ripe Ripe Banana

%section
  %article.one First Article
%table
  %thead
    %tr.first
      %th hearts
      %th moons
      %th stars
%form
  %input{type: 'checkbox'}
  %label{for: 'fave_cereal'} Favorite Cereal
  %input#fave_cereal{type: 'select'}
%footer
  %p this is a footer

