%h1 Sorting Quiz

#quiz
  %input{:type=>'text', :name =>'numbers'}
  %button#sort{:name =>'sort'}

:javascript
  $(function() {

    $('button[name="sort"]').on('click', function(e) {

      var numbers = $('input[name="numbers"]').val().split(', ');

      this.remove();
      $('input[name="numbers"]').remove();

      var $numberDiv = $('<div>');
      $numberDiv.text(numbers.sort(function(a,b){return a-b}).join(', '));

      $('body').append($numberDiv);

    });


    function getNumbers(num) {
      return $.ajax({
        url: '/randNum/' + num,
        type: 'GET'
      });
    }


    $('button[name"random ajax numbers"]').on('click', function(e) {
      var numRand = $('input[name="numbers"]').val();

      getNumbers(numRand).done(function(data) {
        $('input[name="numbers"]').val(data.data);
      });
    });
  });
