%h1#haml-time HAML Time

%ul
  %li
    %a.banana#ripe banana

%nav
  %ul
    %li
      %a{href: "/quiz"} quiz

%section
  %article.one

%table
  %thead
    %tr.first
      hearts moons stars

%form
  %label{:for => "fave_cereal", :type => "select", :value => "fave_cereal" } fave_cereal
  %input{:type => "checkbox", :id => "fave_cereal", :value => "fave_cereal" }
  %input{:type => "select", :id => "fave_cereal", :value => "fave_cereal" }


%footer