%h1#haml-time HAML Time

%ul
  %li
    %a.banana#ripe BANANAS!

%nav
  %ul
    %li
      %a{href: '/quiz'} Sorting Quiz

%section
  %article.one

%table
  %thead
    %tr.first
      %th hearts
      %th moons
      %th stars

%form
  %input{type: 'checkbox'}
  %label{for: 'fave_cereal'} Favorite Cereal
  %input#fave_cereal{type: 'select'}

%footer

