%h1{id: 'haml-time'} HAML Time

%ul
  %li
    %a.banana#ripe

%nav
  %ul
    %li
      %a{href: '/quiz'}

%section
  %article.one

%table
  %thead
    %tr.first
      %p hearts moons stars

%form{:action => ""}
  %input{:type => "checkbox"}
  %label{:for => "fave_cereal"}
  %input#fave_cereal{:type => "select"}

%footer

