%h1{id: 'haml-time'} HAML Time

%ul
  %li
    %a.banana{id: 'ripe'}

%nav
  %ul
    %li
      %a{href: "/quiz"} Quiz

%section
  %article.one


%form{:name => "cereal_form"}
  %input{:type => "checkbox"}
  %label{:for => "fave_cereal"} Favorite Cereal
  %select{id: "fave_cereal"}
  %table
    %thead
      %tr.first
        %td
          hearts
        %td
          moons
        %td
          stars

%footer

